/* Bonus */
@media screen and (max-width: 1160px) {
  .container {
    width: 100%;
  }
}

/* Bonus alternativo: prima del mobile/desktop first 
si usava impostare il range da...a...
si ripeteva spesso il codice perchè ora con mobile/desktop first
le proprietà vanno a cascata, prima bisognava ripetere tutto
NON è PIù UNA BUONA PRATICA DARE DA...A..
*/
@media screen and (min-width: 768px)  and (max-width: 1160px) {
  .container {
    width: 100%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Mobile*/
@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
    align-items: center;
    gap: 4em;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }

  /* Width container */

  .lessons .col,
  .steps .col,
  .why-us .col-left,
  .why-us .col-right {
    width: 70%;
  }

  /* Fonts */

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }

  .steps .text {
    font-weight: 600;
  }

  /* Background-color */
  .why-us {
    background-color: #222222;
    margin-bottom: 0;
    padding-top: 3rem;
  }
  /* cè una barra  */
  .steps{
    margin-bottom: 0;
  }
}
